<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../../partials/nav'); %>

    <main>
        <div class="grid">
          <div>Cart</div>
        </div>
        <% if (cartProducts.length === 0) { %>
            <h1>No Products</h1>
        <% } else { %>
            <% for (let cartProduct of cartProducts) { %>
                <ul>
                    <li>
                        <p><%= cartProduct.productData.title %> (<%= cartProduct.qty %>)</p>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= cartProduct.productData.id %>" name="productId" />
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </li>
                </ul>
            <% } %>
        <% } %>
    </main>
</body>

</html>