<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../../partials/nav'); %>

    <main>
        <div class="grid">
          <div>Cart</div>
        </div>
        <% if (cartProducts.length === 0) { %>
            <h1>No Products</h1>
        <% } else { %>
            <ul class="cart__item-list">
            <% for (let cartProduct of cartProducts) { %>
                    <li class="cart__item">
                        <h1><%= cartProduct.productId.title %></h1>
                        <h2>Quantity: <%= cartProduct.quantity %></h2>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= cartProduct.productId._id %>" name="productId" />
                            <button class="btn danger" type="submit">Delete</button>
                        </form>
                    </li>
            <% } %>
            </ul>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <button type=""submit class="btn">Order Now</button>
                </form>
            </div>
        <% } %>
    </main>
</body>

</html>