<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/css/orders.css">
</head>

<body>
    <%- include('../../partials/nav'); %>

    <main>
        <% if (orders.length == 0) { %>
            <h1>Nothing here!</h1>
        <% } else { %>
        <h1>Orders history</h1>
            <ul class="orders">
                <% for (let order of orders) { %>
                    <li class="orders__item">
                        <h1>Order - # <%= order._id %> </h1>
                        <ul class="orders__products">
                            <% for (let product of order.products) { %>
                            <li class="orders__products-item">
                                <%= product.product.title %> (<%= product.quantity %>)
                            </li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
            </ul>
        <% } %>
    </main>
</body>

</html>