<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../../partials/nav'); %>

    <main>
        <% if (orders.length == 0) { %>
            <h1>Nothing here!</h1>
        <% } else { %>
        <h1>Orders history</h1>
            <ul>
                <% for (let order of orders) { %>
                    <li>
                        <h3># <%= order.id %> </h3>
                        <ul>
                            <% for (let product of order.products) { %>
                            <li>
                                <%= product.title %> (<%= product.orderItem.quantity %>)
                            </li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
            </ul>
        <% } %>
    </main>
</body>

</html>